* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

nav {
  align-items: center;
  color: white;
  display: flex;
  height: 80px;
  padding: 5px;
  justify-content: space-around;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
  background-color: black;
  font-size: 1.5em;
  text-decoration: none;
  width: 100%;
  height: 80px;
}

#projects-container {
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  align-content: center;
  color: black;
}

.navbar-link {
  color: white;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover,
.navbar-link:active {
  color: #0f8fa9;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
