* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  padding: 10px;
  background-color: black;
  font-size: 1.5em;
  text-decoration: none;
  align-items: center;
  color: white;
}

#projects-container {
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  align-content: center;
  color: black;
}

.navbar-link {
  color: white;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover,
.navbar-link:active {
  color: #0f8fa9;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.date {
  color: black;
}
@media screen and (max-width: 935px) {
  .date {
    color: white;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
}
